/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.container{
    height: 100vh;
    padding: 10px 8%;
    background: linear-gradient(0deg, rgb(233, 233, 233) 80%, rgb(0,161,138) 80%);
}
/* inizio corpo della pagina */
main{
    height: 100%;
}
/* section superiore */
section.top{
    /* width: 100%; */
    height: 70px;
    background-color: rgb(233, 233, 233);
    /* position: fixed;
    z-index: 200;
    top: 0; */
}
/* section inferiore */
main section.bottom{
    display: flex;
    height: calc(100vh - 90px);
} 

/***** inizio aside sinistro ******/
aside.left{
    width: 350px;
    height: 100%;
    background-color: white;
    /* regole di debug 
    border: 1px solid;
    /* fine debug */
}
.blu-banner{
    height: 80px;
    padding: 10px;
    background-color: rgb(93, 218, 255);
}
i.fa-bell-slash{
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    font-size: 25px;
    color: rgb(93, 218, 255);
}
.text{
    font-size: 11px;
    display: inline-block;
    width: 70%;
}
.search-contact{
    background-color: rgb(228, 228, 228);
    height: 40px;
    padding: 5px 10px;
    /* border: 1px solid black; */
}
.search-contact input{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 1px;
}
/* contatti */
.contacts{
    overflow: auto;
    height: calc(100% - 120px);
}
.contact{
    display: flex;
    align-items: center;
    height: 80px;
    border-top: 1px solid rgb(214, 214, 214);
    padding: 10px;
}
.contact:hover{
    background-color: rgb(214, 214, 214);
}
.contact img{
    width: 60px;
    border-radius: 50%;
}
.name{
    font-size: 16px;
}
/* fine aside */

/****** inizio aside destro ******/
aside.right{
    flex-grow: 1;
    height: 100%;
    /* regole di debug 
    border: 1px solid;
    /* fine debug */
}
.chat{
    height: calc(100% - 70px); 
    overflow: auto;
    background-image: url(../img/sfondo.png);
    /* regole di debug */
    border: 1px solid red;
   /* fine debug */
}
.text-bar{
    height: 70px;
    background-color: rgb(244, 238, 232);
    display: flex;
    /* align-items: center; */
    /* regole di debug */
    border: 1px solid white;
    /* fine debug */
}
.text-bar .emoji,
.text-bar .audio{
    display: flex;
    align-items: center;
}
.text-bar i{
    margin: 0 10px;
    font-size: 30px;
    color: rgb(109, 109, 109);
}
.text-bar input{
    flex-grow: 1;
}
/* fine aside */