<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/f9888a3f24.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>boolzapp</title>
</head>

<body>


    <div class="container " id="app">

        <main>

            <!-- aside sinistro -->
            <aside class="left">

                <section class="left">

                    <div class="contact">

                        <div class="box">
                            <img src="img/avatar_io.jpg" alt="">

                            <div class="text">
                                <p class="name"><strong>Nome Ute</strong></p>
                            </div>
                        </div>

                        <div class="icon">
                            <a href="#"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-comment" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                        </div>

                    </div>

                </section>

                <div class="blue-banner">
                    <i class="fa fa-bell-slash" aria-hidden="true"></i>

                    <div class="text font-small">
                        <p><strong>Ricevi notifiche di nuovi messaggi</strong></p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>

                </div>

                <div class="search-contact">

                    <div class="search-box">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" placeholder="Crea o inizia una nuova chat" v-model="userSerach">
                    </div>

                </div>

                <!-- lista dei contatti -->
                <ul class="contacts">

                    <li class="contact" v-if="find(item)" v-for="(item, i) in users" :key="item.id"
                        @click="userClick(i)">
                        <div class="box">
                            <img :src="item.image" alt="">

                            <div class="text">
                                <p class="name"><strong>{{ item.name }}</strong></p>
                                <p class="font-small" href="#" v-if="item.message.length > 0">
                                    {{ item.message[item.message.length - 1].text }}</p>
                            </div>

                        </div>

                        <div class="font-small date" v-if="item.message.length > 0">
                            {{ item.message[item.message.length - 1].dateMsg }}</div>
                    </li>

                </ul>
            </aside>

            <!-- aside destro -->
            <aside class="right">

                <section class="right">

                    <div class="contact">

                        <div class="box">
                            <img :src="users[userIndex].image" alt="">

                            <div class="text">
                                <p class="name"><strong>{{ users[userIndex].name }}</strong></p>
                                <p class="font-small">Ultimo accesso oggi alle <span
                                        class="data">{{ users[userIndex].ultimoAcc}}</span></p>
                            </div>
                        </div>

                        <div class="icon">
                            <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                        </div>

                    </div>

                </section>

                <div class="chat">

                    <!-- lista messaggi -->
                    <ul>
                        <li class="message" :class="item.status" v-for="(item, i) in users[userIndex].message">

                            <p>{{ item.text }} <img :src="item.imgEmoji" alt=""></p> <!-- v-html="item.text" -->
                            <p class="font-small date">{{ item.dateMsg }}</p>
                            <a href="#" @click="remove(item, i)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>

                        </li>
                    </ul>

                    
                </div>
                
                <!-- emoticon -->
                <div class="emoticon" :class="(hidden == false ? 'visible' : 'notvisible')" >
                    <a href="#" v-for="(item, index) in emoji"><img :src="item" @click="emojiClick(index)" alt=""></a> <!-- image 1-->
                    <!-- image 2-->
                     <!-- image 3-->
                     <!-- image 4-->
                     <!-- image 5-->
                     <!-- image 6-->
                     <!-- image 7-->
                     <!-- image 8-->
                     <!-- image 9-->
                     <!-- image 10-->
                     <!-- image 11-->
                     <!-- image 12-->
                     <!-- image 13-->
                     <!-- image 14-->
                     <!-- image 15-->
                     <!-- image 16-->
                     <!-- image 17-->
                     <!-- image 18-->
                     <!-- image 19-->
                     <!-- image 20-->
                     <!-- image 21-->
                     <!-- image 22-->
                     <!-- image 23-->
                     <!-- image 24-->
                     <!-- image 25-->
                     <!-- image 26-->
                     <!-- image 27-->
                     <!-- image 28-->
                     <!-- image 29-->
                     <!-- image 30-->
                     <!-- image 31-->
                     <!-- image 32-->
                </div>

                <div class="text-bar">

                    <a href="#" class="emoji notvisible" @click="showEmoticons"> <!-- (hidden == false ? 'visible' : '') -->
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                    </a>

                    <input type="text" placeholder="Scrivi un messaggio" v-on:keydown.13="send" v-model="newInput">

                    <a href="#" class="audio">
                        <i class="fa fa-microphone" aria-hidden="true" @click="send"></i>
                    </a>

                </div>
            </aside>

        </main>

    </div>

    <script src="js/script.js"></script>
</body>

</html>